<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海报展示</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <style type="text/css">
        #poster{height:670px;background:url("__PUBLIC__/img/{$result['nba_team']}.jpg") no-repeat;}
        .mg200{margin-top:300px;color:#fff;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="jumbotron" id="poster">
                <h3>总冠军,<u>{$result['idiom']}</u></h3>
                <p class="mg200">{$result['wish']}</p>
                <p class="text-center">{$result['nickname']}</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>