<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询页面</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrapValidator.min.js"></script>
</head>
<body>
<hr>
<div class="container">
    <div class="row">
        <form class="form-inline" role="form" id="myForm" method="post">
            <div class="form-group">
                <label class="" for="username">姓名:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="名字">
            </div>
            <div class="form-group">
                <label class="" for="username">日期:</label>
                <a class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id='nowdate1' name="start"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </a>-
                <a class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id='nowdate2' name="end"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </a>
            </div>
            <button type="button" id="btnSearch" class="btn btn-success">查询</button>
        </form>
    </div>
</div>
<hr>
<!--显示结果 start-->
<div id="container">
    <table class="table table-bordered" id="tb">
    </table>
</div>
<!--显示结果 end-->
</body>
<script type="text/javascript">
        //校验插件 start
        $("#myForm").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                //验证名字不能为空
                username: {
                    message: '名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        },
                        //可以在callback里面写上自定义的一些校验规则
                        // callback: {
                        //     message: '自定义的校验失败',
                        //     callback: function(value, validator) {
                        //         if (value=="") {
                        //             return false;
                        //         } else {
                        //             return true;
                        //         }
                        //     }
                        // }
                    }
                },

                //验证时间
                start: {
                    validators: {
                        // integer: {},
                        callback: {
                            message: '开始日期不能大于结束日期',
                            callback:function(value, validator,$field,options){
                                var strtime1 = $("#nowdate1").val();
                                var strtime2 = $('#nowdate2').val();
                                var start = new Date(strtime1.replace(/-/g, '/'));
                                var end = new Date(strtime2.replace(/-/g, '/'));
                                // alert(start);
                                // alert(end);
                                // alert((strtime1<strtime2));
                                // alert(parseInt(start));
                                // alert(parseInt(end));
                                // alert(start.getTime()/1000);
                                // alert(end.getTime()/1000);
                                return parseInt(start.getTime()/1000)<=parseInt(end.getTime()/1000);
                            }
                        }
                    }
                }

            },
        });

        //时间戳转为时分秒 start
        // 和PHP一样的时间戳格式化函数,由 bio.soyiyuan.com 转载
        // @param  {string} format    格式
        // @param  {int}    timestamp 要格式化的时间 默认为当前时间
        // @return {string}           格式化的时间字符串
        function myDate(format,timestamp) {
            var a, jsdate=((timestamp) ? new Date(timestamp*1000) : new Date());
            var pad = function(n, c){
                if( (n = n + "").length < c ) {
                    return new Array(++c - n.length).join("0") + n;
                } else {
                    return n;
                }
            };
            var txt_weekdays = ["Sunday","Monday","Tuesday","Wednesday", "Thursday","Friday","Saturday"];
            var txt_ordin = {1:"st",2:"nd",3:"rd",21:"st",22:"nd",23:"rd",31:"st"};
            var txt_months = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var f = {
                // Day
                d: function(){
                    return pad(f.j(), 2);
                },
                D: function(){
                    t = f.l(); return t.substr(0,3);
                },
                j: function(){
                    return jsdate.getDate();
                },
                l: function(){
                    return txt_weekdays[f.w()];
                },
                N: function(){
                    return f.w() + 1;
                },
                S: function(){
                    return txt_ordin[f.j()] ? txt_ordin[f.j()] : 'th';
                },
                w: function(){
                    return jsdate.getDay();
                },
                z: function(){
                    return (jsdate - new Date(jsdate.getFullYear() + "/1/1")) / 864e5 >> 0;
                },
                // Week
                W: function(){
                    var a = f.z(), b = 364 + f.L() - a;
                    var nd2, nd = (new Date(jsdate.getFullYear() + "/1/1").getDay() || 7) - 1;
                    if(b <= 2 && ((jsdate.getDay() || 7) - 1) <= 2 - b){
                        return 1;
                    } else{
                        if(a <= 2 && nd >= 4 && a >= (6 - nd)){
                            nd2 = new Date(jsdate.getFullYear() - 1 + "/12/31");
                            return date("W", Math.round(nd2.getTime()/1000));
                        } else{
                            return (1 + (nd <= 3 ? ((a + nd) / 7) : (a - (7 - nd)) / 7) >> 0);
                        }
                    }
                },
                // Month
                F: function(){
                    return txt_months[f.n()];
                },
                m: function(){
                    return pad(f.n(), 2);
                },
                M: function(){
                    t = f.F(); return t.substr(0,3);
                },
                n: function(){
                    return jsdate.getMonth() + 1;
                },
                t: function(){
                    var n;
                    if( (n = jsdate.getMonth() + 1) == 2 ){
                        return 28 + f.L();
                    } else{
                        if( n & 1 && n < 8 || !(n & 1) && n > 7 ){
                            return 31;
                        } else{
                            return 30;
                        }
                    }
                },
                // Year
                L: function(){
                    var y = f.Y();
                    return (!(y & 3) && (y % 1e2 || !(y % 4e2))) ? 1 : 0;
                },
                //o not supported yet
                Y: function(){
                    return jsdate.getFullYear();
                },
                y: function(){
                    return (jsdate.getFullYear() + "").slice(2);
                },
                // Time
                a: function(){
                    return jsdate.getHours() > 11 ? "pm" : "am";
                },
                A: function(){
                    return f.a().toUpperCase();
                },
                B: function(){
                    // peter paul koch:
                    var off = (jsdate.getTimezoneOffset() + 60)*60;
                    var theSeconds = (jsdate.getHours() * 3600) +
                            (jsdate.getMinutes() * 60) +
                            jsdate.getSeconds() + off;
                    var beat = Math.floor(theSeconds/86.4);
                    if (beat > 1000) beat -= 1000;
                    if (beat < 0) beat += 1000;
                    if ((String(beat)).length == 1) beat = "00"+beat;
                    if ((String(beat)).length == 2) beat = "0"+beat;
                    return beat;
                },
                g: function(){
                    return jsdate.getHours() % 12 || 12;
                },
                G: function(){
                    return jsdate.getHours();
                },
                h: function(){
                    return pad(f.g(), 2);
                },
                H: function(){
                    return pad(jsdate.getHours(), 2);
                },
                i: function(){
                    return pad(jsdate.getMinutes(), 2);
                },
                s: function(){
                    return pad(jsdate.getSeconds(), 2);
                },
                //u not supported yet
                // Timezone
                //e not supported yet
                //I not supported yet
                O: function(){
                    var t = pad(Math.abs(jsdate.getTimezoneOffset()/60*100), 4);
                    if (jsdate.getTimezoneOffset() > 0) t = "-" + t; else t = "+" + t;
                    return t;
                },
                P: function(){
                    var O = f.O();
                    return (O.substr(0, 3) + ":" + O.substr(3, 2));
                },
                //T not supported yet
                //Z not supported yet
                // Full Date/Time
                c: function(){
                    return f.Y() + "-" + f.m() + "-" + f.d() + "T" + f.h() + ":" + f.i() + ":" + f.s() + f.P();
                },
                //r not supported yet
                U: function(){
                    return Math.round(jsdate.getTime()/1000);
                }
            };
            return format.replace(/[\\]?([a-zA-Z])/g, function(t, s){
                if( t!=s ){
                    // escaped
                    ret = s;
                } else if( f[s] ){
                    // a date function exists
                    ret = f[s]();
                } else{
                    // nothing special
                    ret = s;
                }
                return ret;
            });
        }
        //时间戳转为时分秒 end

        $("#btnSearch").on("click",function(){
            //定义一个校验器
            var bootstrapValidator = $("#myForm").data('bootstrapValidator');
            //执行校验
            bootstrapValidator.validate();
            //判断校验结果
            if(bootstrapValidator.isValid()){
                //校验成功,可以ajax提交表单到服务器
                // var status="";                     //得到radio的值
                // if($("#status1").is(":checked")){
                //     status=$("#status1").val();
                // }else if($("#status2").is(":checked")){
                //     status=$("#status2").val();
                // }
                var username = $("#username").val().trim();  //得到名称的值
                var strtime1 = $("#nowdate1").val();
                var strtime2 = $('#nowdate2').val();
//                console.log(strtime1);
//                console.log(strtime2);
//                var start = new Date(strtime1.replace(/-/g, '/'));//格式化时间为：Fri Apr 27 2018 00:00:00 GMT+0800 (中国标准时间)
//                var end = new Date(strtime2.replace(/-/g, '/'));//方便下面化为时间戳，使用getTime()函数
//                console.log(start);
//                console.log(end);
                $.ajax({
                    type:'post',
                    data:{
                        "username":username,
//                        "start":start.getTime()/1000,//转换成时间戳
//                        "end":end.getTime()/1000//转换成时间戳
                        "start":strtime1,
                        "end":strtime2
                    },
                    dataType:'json',
                    url: "{:U('searchData')}",
                    success: function(data) {
//                        alert(data);
//                        console.log(status);//返回的是：success
//                        console.log(xhr);//返回的状态：readyState:4;status:200;responseText:返回的数据data
//                        console.log(xhr.status);//返回结果：200
                        if(data !=""){
                            //提交成功
//                            var result = eval("("+data+")");
                            var result = data;
//                            alert(result);
                            var html = '<caption>考勤详细时间</caption><thead><tr><th>序号</th><th>姓名</th><th>日期</th><th>星期</th><th>上午</th><th>下午</th></tr></thead><tbody>';
                            for(var i in result) {
                                if((result[i][0].flag == 0) && (result[i][1] == undefined)) {
                                    html += '<tr class="danger"><td>'+i+'</td><td>'+result[i][0].name+'</td><td>'+result[i].date+'</td><td>'+result[i].week+'</td><td>'+myDate('H:i:s',result[i][0].time)+'</td><td></td></tr>';
                                }else if((result[i][0].flag == 1) && (result[i][1] == undefined)) {
                                    html += '<tr class="danger"><td>'+i+'</td><td>'+result[i][0].name+'</td><td>'+result[i].date+'</td><td>'+result[i].week+'</td><td></td><td>'+myDate('H:i:s',result[i][0].time)+'</td></tr>';
                                }else{
                                    html += '<tr><td>'+i+'</td><td>'+result[i][0].name+'</td><td>'+result[i].date+'</td><td>'+result[i].week+'</td><td>'+myDate('H:i:s',result[i][0].time)+'</td><td>'+myDate('H:i:s',result[i][1].time)+'</td></tr>';
                                }
                            }
                            html += '</tbody>';
//                            alert(html);
                            $('#tb').html(html);

                        }else{
                            //提交失败
                            alert("没有找到相关的结果!");
                        }
                    },
                    error:function(data){
                        //提交失败
                    }
                });
            }else{
                //校验失败
            }
        });
        //校验插件 end

        //日期插件 start
        $('#datetimepicker1').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
            locale: moment.locale('zh-cn')
        });
        //默认获取当前日期
        var today = new Date();
        var nowdate = (today.getFullYear()) + "-" + (today.getMonth() + 1) + "-" + today.getDate();
        //对日期格式进行处理
        var date = new Date(nowdate);
        var mon = date.getMonth() + 1;
        var day = date.getDate();
        var mydate = date.getFullYear() + "-" + (mon < 10 ? "0" + mon : mon) + "-" + (day < 10 ? "0" + day : day);
        document.getElementById("nowdate1").value = mydate;
        //日期插件 end
</script>
</html>