<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询页面</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrapValidator.min.js"></script>
</head>
<body>
<hr>
<div class="container">
    <div class="row">
        <form class="form-inline" role="form" id="myForm" method="post">
            <div class="form-group">
                <label class="" for="username">姓名:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="名字">
            </div>
            <div class="form-group">
                <label class="" for="username">日期:</label>
                <a class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id='nowdate1' name="start"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </a>-
                <a class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id='nowdate2' name="end"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </a>
            </div>
            <button type="button" id="btnSearch" class="btn btn-success">查询</button>
        </form>
    </div>
</div>
<hr>
<!--显示结果 start-->
<div id="container">
    <table class="table table-bordered" id="tb">
        <caption>考勤详细时间</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>日期</th>
                <th>星期</th>
                <th>上午</th>
                <th>下午</th>
            </tr>
        </thead>
        <tbody>
            <tr class="danger">
                <td>1</td>
                <td>林依蓝</td>
                <td>2018-04-29</td>
                <td>星期日</td>
                <td>2018-04-29 00:16:00</td>
                <td>2018-04-29 00:16:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>林依蓝</td>
                <td>2018-04-29</td>
                <td>星期日</td>
                <td>2018-04-29 00:16:00</td>
                <td>2018-04-29 00:16:00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>林依蓝</td>
                <td>2018-04-29</td>
                <td>星期日</td>
                <td>2018-04-29 00:16:00</td>
                <td>2018-04-29 00:16:00</td>
            </tr>
        </tbody>

    </table>
</div>
<!--显示结果 end-->
</body>
<script type="text/javascript">
        //校验插件 start
        $("#myForm").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                //验证名字不能为空
                username: {
                    message: '名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        },
                        //可以在callback里面写上自定义的一些校验规则
                        // callback: {
                        //     message: '自定义的校验失败',
                        //     callback: function(value, validator) {
                        //         if (value=="") {
                        //             return false;
                        //         } else {
                        //             return true;
                        //         }
                        //     }
                        // }
                    }
                },

                //验证时间
                start: {
                    validators: {
                        // integer: {},
                        callback: {
                            message: '开始日期不能大于结束日期',
                            callback:function(value, validator,$field,options){
                                var strtime1 = $("#nowdate1").val();
                                var strtime2 = $('#nowdate2').val();
                                var start = new Date(strtime1.replace(/-/g, '/'));
                                var end = new Date(strtime2.replace(/-/g, '/'));
                                // alert(start);
                                // alert(end);
                                // alert((strtime1<strtime2));
                                // alert(parseInt(start));
                                // alert(parseInt(end));
                                // alert(start.getTime()/1000);
                                // alert(end.getTime()/1000);
                                return parseInt(start.getTime()/1000)<=parseInt(end.getTime()/1000);
                            }
                        }
                    }
                }

            },
        });

        $("#btnSearch").on("click",function(){
            //定义一个校验器
            var bootstrapValidator = $("#myForm").data('bootstrapValidator');
            //执行校验
            bootstrapValidator.validate();
            //判断校验结果
            if(bootstrapValidator.isValid()){
                //校验成功,可以ajax提交表单到服务器
                // var status="";                     //得到radio的值
                // if($("#status1").is(":checked")){
                //     status=$("#status1").val();
                // }else if($("#status2").is(":checked")){
                //     status=$("#status2").val();
                // }
                var username = $("#username").val().trim();  //得到名称的值
                var strtime1 = $("#nowdate1").val();
                var strtime2 = $('#nowdate2').val();
//                console.log(strtime1);
//                console.log(strtime2);
//                var start = new Date(strtime1.replace(/-/g, '/'));//格式化时间为：Fri Apr 27 2018 00:00:00 GMT+0800 (中国标准时间)
//                var end = new Date(strtime2.replace(/-/g, '/'));//方便下面化为时间戳，使用getTime()函数
//                console.log(start);
//                console.log(end);
                $.ajax({
                    type:'post',
                    data:{
                        "username":username,
//                        "start":start.getTime()/1000,//转换成时间戳
//                        "end":end.getTime()/1000//转换成时间戳
                        "start":strtime1,
                        "end":strtime2
                    },
                    dataType:'json',
                    url: "{:U('searchData')}",
                    success: function(data,status,xhr) {
//                        console.log(status);//返回的是：success
//                        console.log(xhr);//返回的状态：readyState:4;status:200;responseText:返回的数据data
//                        console.log(xhr.status);
                        if(xhr.status=="200"){
                            //提交成功
//                            alert(data);
                            alert(111);
                            var result = eval('('+data+')');
                            var html = '<thead><tr><th>序号</th><th>姓名</th><th>日期</th><th>星期</th><th>上午</th><th>下午</th></tr></thead><tbody>';
                            for(var i in result) {
                                html += '<tr><td>'+i+'</td><td>'+result[i].name+'</td><td>'+result[i].date+'</td><td>'+result[i].week+'</td><td>'+result[i][0].time+'</td><td>'+result[i][1].time+'</td></tr>';
                            }
                            html += '</tbody>';
                            alert(html);
                            $('#tb').html(html);

                        }else{
                            //提交失败
                        }
                    },
                    error:function(data){
                        //提交失败
                    }
                });
            }else{
                //校验失败
            }
        });

        //校验插件 end

        //日期插件 start
        $('#datetimepicker1').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
            locale: moment.locale('zh-cn')
        });
        //默认获取当前日期
        var today = new Date();
        var nowdate = (today.getFullYear()) + "-" + (today.getMonth() + 1) + "-" + today.getDate();
        //对日期格式进行处理
        var date = new Date(nowdate);
        var mon = date.getMonth() + 1;
        var day = date.getDate();
        var mydate = date.getFullYear() + "-" + (mon < 10 ? "0" + mon : mon) + "-" + (day < 10 ? "0" + day : day);
        document.getElementById("nowdate1").value = mydate;
        //日期插件 end
</script>
</html>